body{
    padding: 0px;
}
.header{
    margin-bottom: 0px;
}
.navbar{
    margin-bottom: 0px;
    background:#333333;
    color: #FFFFFF;
}
.navbar a{
    color: white !important;
}
.navbar li.active a{
    color: #333333 !important;
}
.navbar-header{
    width: 170px;
}
.banner{
    width: 100%;
    height: 310px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B51B57;

}
.footer-sln{
    position: fixed;
    bottom: 0px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    width: 100%;
    background: #F8F8F8;
}
.row{
    margin-top: 10px;
}
.blank-space{
    height: 50px;
}
.circular-logo{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    border:1px solid #B51B57;
    width: 80px;
    height: 80px;
}

.error{
    color: red;
}
.title{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
    background-color: #E7E7E7;
    padding: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.page-content{
    padding: 30px;
    padding-top: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
